{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI teacher</title>

    <link rel="icon" href="{% static 'photos/AI_teacher_img.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg==" crossorigin="anonymous" referrerpolicy="no-referrer">

</head>
<body>
<!-- header section -->
    <header class="header_section">
        <div class="AI_teacher_img">
            <img src="{% static 'photos/AI_teacher_img.png' %}" alt="foto">
        </div>
        <div>
            <h1 class="text"><span class="AI_span">AI</span> teacher</h1>
        </div>
    </header>
<!-- /header section -->


<!-- courses list section -->
    <section class="courses_section">
        {% if courses %}
            {% for course in courses %}
                <div class="course_card">
                    <div class="courses_img">
                        <img src="{{ course.image.url }}" alt="foto">
                    </div>
                    <div class="course_info">
                        <h3>{{ course.name }}</h3>
                        <p>{{ course.info }}</p>
                        <span>{{ course.lessons }} dars.</span>
                        <form action="{% url 'lesson_chat' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" name="course_pk" value="{{ course.pk }}">Boshlash</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="course_card">
                <h3>Darslar mavjud emas❌😔</h3>
            </div>
        {% endif %}
    </section>
<!-- /courses list section -->

<!-- footer section -->
    <footer class="footer_section">
        <div class="footer_img">
            <img src="{% static 'photos/AI_teacher_img.png' %}" alt="foto">
            <h1 class="text"><span class="AI_span">AI</span> Teacher</h1>
        </div>
        <div class="footer_info">
            <p class="text">© 2026 AI Teacher. All rights reserved.</p>
            <div class="footer_media text">
                <a href="#" class="text"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="text"><i class="fa-brands fa-telegram"></i></a>
                <a href="#" class="text"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </footer>
<!-- /footer section -->
</body>
</html>